<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <aside class="menu" role="complimentary">
            <p class="menu-label">
                <a href="<%= base_url %>">Exoscale resources</a>
            </p>
            <ul class="menu-list">
                <li<% sidebar_current("docs-exoscale-affinity-group") %>>
                    <a href="<%= base_url %>/r/affinity_group.html">exoscale_affinity_group</a>
                </li>

                <li<% sidebar_current("docs-exoscale-compute") %>>
                    <a href="<%= base_url %>/r/compute.html">exoscale_compute</a>
                </li>

                <li<% sidebar_current("docs-exoscale-domain") %>>
                    <a href="<%= base_url %>/r/domain.html">exoscale_domain</a>
                </li>

                <li<% sidebar_current("docs-exoscale-domain-record") %>>
                    <a href="<%= base_url %>/r/domain_record.html">exoscale_domain_record</a>
                </li>

                <li<% sidebar_current("docs-exoscale-ipaddress") %>>
                    <a href="<%= base_url %>/r/ipaddress.html">exoscale_ipaddress</a>
                </li>

                <li<% sidebar_current("docs-exoscale-network") %>>
                    <a href="<%= base_url %>/r/network.html">exoscale_network</a>
                </li>

                <li<% sidebar_current("docs-exoscale-nic") %>>
                    <a href="<%= base_url %>/r/nic.html">exoscale_nic</a>
                </li>

                <li<% sidebar_current("docs-exoscale-security-group") %>>
                    <a href="<%= base_url %>/r/security_group.html">exoscale_security_group</a>
                </li>

                <li<% sidebar_current("docs-exoscale-security-group-rule") %>>
                    <a href="<%= base_url %>/r/security_group_rule.html">exoscale_security_group_rule</a>
                </li>

                <li<% sidebar_current("docs-exoscale-security-group-rules") %>>
                    <a href="<%= base_url %>/r/security_group_rules.html">exoscale_security_group_rules</a>
                </li>

                <li<% sidebar_current("docs-exoscale-secondary-ipaddress") %>>
                    <a href="<%= base_url %>/r/secondary_ipaddress.html">exoscale_secondary_ipaddress</a>
                </li>

                <li<% sidebar_current("docs-exoscale-ssh-keypair") %>>
                    <a href="<%= base_url %>/r/ssh_keypair.html">exoscale_ssh_keypair</a>
                </li>
            </ul>
        </aside>
    <% end %>
    <%= yield %>
<% end %>
