<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complimentary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-exoscale-index") %>>
                    <a href="/docs/providers/exoscale/index.html">Exoscale Provider</a>
                </li>

                <li<%= sidebar_current("docs-exoscale-data") %>>
                    <a href="#">Data</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-exoscale-affinity") %>>
                            <a href="/docs/providers/exoscale/d/affinity.html">exoscale_affinity</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-compute") %>>
                            <a href="/docs/providers/exoscale/d/compute.html">exoscale_compute</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-compute-ipaddress") %>>
                            <a href="/docs/providers/exoscale/d/compute_ipaddress.html">exoscale_compute_ipaddress</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-compute-template") %>>
                            <a href="/docs/providers/exoscale/d/compute_template.html">exoscale_compute_template</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-domain") %>>
                            <a href="/docs/providers/exoscale/d/domain.html">exoscale_domain</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-domain-record") %>>
                            <a href="/docs/providers/exoscale/d/domain_record.html">exoscale_domain_record</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-network") %>>
                            <a href="/docs/providers/exoscale/d/network.html">exoscale_network</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-security-group") %>>
                            <a href="/docs/providers/exoscale/d/security_group.html">exoscale_security_group</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-exoscale-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-exoscale-affinity") %>>
                            <a href="/docs/providers/exoscale/r/affinity.html">exoscale_affinity</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-compute") %>>
                            <a href="/docs/providers/exoscale/r/compute.html">exoscale_compute</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-domain") %>>
                            <a href="/docs/providers/exoscale/r/domain.html">exoscale_domain</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-domain-record") %>>
                            <a href="/docs/providers/exoscale/r/domain_record.html">exoscale_domain_record</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-instance-pool") %>>
                            <a href="/docs/providers/exoscale/r/instance_pool.html">exoscale_instance_pool</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-ipaddress") %>>
                            <a href="/docs/providers/exoscale/r/ipaddress.html">exoscale_ipaddress</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-network") %>>
                            <a href="/docs/providers/exoscale/r/network.html">exoscale_network</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-nic") %>>
                            <a href="/docs/providers/exoscale/r/nic.html">exoscale_nic</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-nlb") %>>
                            <a href="/docs/providers/exoscale/r/nlb.html">exoscale_nlb</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-nlb-service") %>>
                            <a href="/docs/providers/exoscale/r/nlb_service.html">exoscale_nlb_service</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-security-group") %>>
                            <a href="/docs/providers/exoscale/r/security_group.html">exoscale_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-security-group-rule") %>>
                            <a href="/docs/providers/exoscale/r/security_group_rule.html">exoscale_security_group_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-security-group-rules") %>>
                            <a href="/docs/providers/exoscale/r/security_group_rules.html">exoscale_security_group_rules</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-secondary-ipaddress") %>>
                            <a href="/docs/providers/exoscale/r/secondary_ipaddress.html">exoscale_secondary_ipaddress</a>
                        </li>

                        <li<%= sidebar_current("docs-exoscale-ssh-keypair") %>>
                            <a href="/docs/providers/exoscale/r/ssh_keypair.html">exoscale_ssh_keypair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
